#menu {
  width: calc(100% - 4vw);
  position: relative;
  .burger {
    height: 50%;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    .bar {
      width: 100%;
      height: 3px;
      background-color: #62D4DF;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 300%;
        width: 75%;
        height: 3px;
        background-color: #62D4DF;
      }
      &:after {
        content: '';
        position: absolute;
        top: 600%;
        width: 50%;
        height: 3px;
        background-color: #62D4DF;
      }
    }
    .active {
      visibility: hidden;
      &:before {
        content: '';
        position: absolute;
        width: 60%;
        height: 3px;
        background-color: #62D4DF;
        transform: rotate(45deg);
        visibility: visible;
        top: 300%;
      }
      &:after {
        content: '';
        position: absolute;
        width: 60%;
        height: 3px;
        background-color: #62D4DF;
        transform: rotate(-45deg);
        visibility: visible;
        top: 300%;
      }
    }
    /*&:hover {
      .bar {
        &:before,
        &:after {
          width: 100%;
        }
      }
    }*/
  }

  nav {
    display: none; //a passer en flex au clic sur le menu burger
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100vh;
    justify-content: center;
    ul {
        height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      li {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}