#profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  .profil-head {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 100px;
      margin-right: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p:first-child {
        color: #62D4DF;
        font-size: 13px;
      }
      p:last-child {
        color: white;
        font-size: 20px;
      }
    }
  }
  .profil-infos {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    p {
      font-size: 20px;
      &:first-child {
        color: #62D4DF;
        margin-right: 10px;
      }
      &:last-child {
        color: white;
      }
    }
  }

  .definition-bloc {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;

      span {
        color: white;
        opacity: .5;
        &.active {
          opacity: 1;
          border-bottom: 1px solid #62D4DF;
        }
      }
    }
    .definition-cont {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        .definition {
          width: 45%;
          height: 80px;
          position: relative;
          img {
            width: 100%;
          }
          p {
            position: absolute;
            top: 0;
            left: 5px;
            font-size: 12px;
            color: #62D4DF;
            &:last-child {
              top: 10px;
              color: white;
              font-size: 15px;
            }
          }
        }
      }
    }
    button {
      width: 25%;
      border-radius: 5px;
      margin-bottom: 20px;
      border: none;
      background-color: #62D4DF;
      img {
        padding: 0 5px 0 10px;
        transform: rotate(90deg);
      }
    }
  }
}