{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="connexion">
        <header>
            <a href="#">Connexion</a>
            <a href="/inscription">Inscription</a>
        </header>
        <form action="">
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo">
            <label for="mot de passe">Mot de passe</label>
            <input type="password" name="mdp">
            <button type="submit"><img src="arrow.png" alt="flèche"></button>
        </form>
    </section>
{% endblock %}