{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="connexion">
        <header>
            <a href="#">Connexion</a>
            <a href="/inscription">Inscription</a>
        </header>
        <form method="post">
            <div class="group">
                <input type="text" name="pseudo" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pseudo</label>
            </div>
            <div class="group">
                <input type="password" name="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mot de passe</label>
            </div>
            <button type="submit"><img src="/img/arrow.png" alt="flèche"></button>
        </form>
        <a href="" class="small-link">Mot de passe oublié ?</a>
    </section>
{% endblock %}