{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="definition">
        <img class="couv" src="/img/{{ word.picture }}" alt="">
        <div class="word">
            <p>{{ word.title }}</p>
            <p>{{ word.name }}</p>
        </div>
        <article>{{ word.definition }}</article>
    </section>
{% endblock %}