{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="index">
        <label for="search" class="firstLabel">Tapper le mot chercher</label>
        <input type="text" id="search">
    </section>
{% endblock %}
{% block javascript %}
    <script src="/js/index.js"></script>
{% endblock %}