{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="index">
        <label for="search" class="firstLabel">Tapper le mot chercher</label>
        <input type="text" id="search">
        <div class="result-bloc">
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
            <a href="" class="result-item">
                <img src="/img/starfighter.jpg" alt="">
                <div class="item-info">
                    <p class="univer">Star wars</p>
                    <p class="name">Starfighter</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script src="/js/index.js"></script>
{% endblock %}