<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geeko</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/geeko.css">
</head>
<body>
<main class="container">
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
</main>
<script src="/js/header.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>