/* line 1, ../sass/_main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

/* line 8, ../sass/_main.scss */
h1, h2, h3, h4 {
  font-weight: 500;
}

/* line 12, ../sass/_main.scss */
body {
  background: #555f82 no-repeat;
  /* Old browsers */
  background: -moz-linear-gradient(top, #555f82 0%, #444f6f 23%, #424d6b 24%, #3a4362 35%, #39425f 36%, #394261 36%, #2a344f 55%, #252f4a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #555f82 0%, #444f6f 23%, #424d6b 24%, #3a4362 35%, #39425f 36%, #394261 36%, #2a344f 55%, #252f4a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #555f82 0%, #444f6f 23%, #424d6b 24%, #3a4362 35%, #39425f 36%, #394261 36%, #2a344f 55%, #252f4a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555f82', endColorstr='#252f4a',GradientType=0 );
  background-repeat: no-repeat;
}

/* line 21, ../sass/_main.scss */
.container {
  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 1, ../sass/_header.scss */
#menu {
  width: calc(100% - 4vw);
  position: relative;
}
/* line 4, ../sass/_header.scss */
#menu .burger {
  height: 50%;
  width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
  /*&:hover {
    .bar {
      &:before,
      &:after {
        width: 100%;
      }
    }
  }*/
}
/* line 12, ../sass/_header.scss */
#menu .burger .bar {
  width: 100%;
  height: 3px;
  background-color: #62D4DF;
  position: relative;
}
/* line 17, ../sass/_header.scss */
#menu .burger .bar:before {
  content: '';
  position: absolute;
  top: 300%;
  width: 75%;
  height: 3px;
  background-color: #62D4DF;
}
/* line 25, ../sass/_header.scss */
#menu .burger .bar:after {
  content: '';
  position: absolute;
  top: 600%;
  width: 50%;
  height: 3px;
  background-color: #62D4DF;
}
/* line 34, ../sass/_header.scss */
#menu .burger .active {
  visibility: hidden;
}
/* line 36, ../sass/_header.scss */
#menu .burger .active:before {
  content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  background-color: #62D4DF;
  transform: rotate(45deg);
  visibility: visible;
  top: 300%;
}
/* line 46, ../sass/_header.scss */
#menu .burger .active:after {
  content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  background-color: #62D4DF;
  transform: rotate(-45deg);
  visibility: visible;
  top: 300%;
}
/* line 67, ../sass/_header.scss */
#menu nav {
  display: none;
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
/* line 74, ../sass/_header.scss */
#menu nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
/* line 81, ../sass/_header.scss */
#menu nav ul li:not(:last-child) {
  margin-bottom: 30px;
}
/* line 84, ../sass/_header.scss */
#menu nav ul li a {
  text-decoration: none;
  color: white;
}

/* line 1, ../sass/_index.scss */
#index {
  width: 100%;
  height: 100vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 9, ../sass/_index.scss */
#index .firstLabel {
  border-right: .1em solid white;
  margin: 2em 1em;
  font-size: 20px;
  width: 168.104px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  color: white;
}
/* line 20, ../sass/_index.scss */
#index .small {
  color: #62D4DF;
  -webkit-animation: none;
  font-size: 15px;
}
/* line 25, ../sass/_index.scss */
#index input {
  display: none;
  background: transparent;
  font-size: 20px;
  color: white;
  border-bottom: solid 2px #62D4DF;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* line 1, ../sass/_connexion.scss */
#connexion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100%;
}
/* line 8, ../sass/_connexion.scss */
#connexion header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
/* line 14, ../sass/_connexion.scss */
#connexion header a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
/* line 18, ../sass/_connexion.scss */
#connexion header a:first-child {
  border-bottom: 1px solid #62D4DF;
}
/* line 21, ../sass/_connexion.scss */
#connexion header a:not(:first-child) {
  opacity: .5;
}
/* line 26, ../sass/_connexion.scss */
#connexion form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 32, ../sass/_connexion.scss */
#connexion form .group {
  position: relative;
  margin-bottom: 45px;
}
/* line 35, ../sass/_connexion.scss */
#connexion form .group input {
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
}
/* line 44, ../sass/_connexion.scss */
#connexion form .group input:focus {
  outline: none;
  border: none;
}
/* line 49, ../sass/_connexion.scss */
#connexion form .group label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 61, ../sass/_connexion.scss */
#connexion form .group input:focus ~ label, #connexion form .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #62D4DF;
}
/* line 66, ../sass/_connexion.scss */
#connexion form .group .bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 67, ../sass/_connexion.scss */
#connexion form .group .bar:before, #connexion form .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #62D4DF;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 78, ../sass/_connexion.scss */
#connexion form .group .bar:before {
  left: 50%;
}
/* line 81, ../sass/_connexion.scss */
#connexion form .group .bar:after {
  right: 50%;
}
/* line 84, ../sass/_connexion.scss */
#connexion form .group input:focus ~ .bar:before, #connexion form .group input:focus ~ .bar:after {
  width: 50%;
}
/* line 88, ../sass/_connexion.scss */
#connexion form .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* line 94, ../sass/_connexion.scss */
#connexion form button {
  border: none;
  background-color: #62D4DF;
  border-radius: 5px;
}
/* line 98, ../sass/_connexion.scss */
#connexion form button img {
  padding: 5px 10px 0 10px;
}
/* line 104, ../sass/_connexion.scss */
#connexion .small-link {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* line 1, ../sass/_inscription.scss */
#inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  height: 100vh;
}
/* line 9, ../sass/_inscription.scss */
#inscription header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
/* line 15, ../sass/_inscription.scss */
#inscription header a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
/* line 19, ../sass/_inscription.scss */
#inscription header a:last-child {
  border-bottom: 1px solid #62D4DF;
}
/* line 22, ../sass/_inscription.scss */
#inscription header a:not(:last-child) {
  opacity: .5;
}
/* line 27, ../sass/_inscription.scss */
#inscription form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 33, ../sass/_inscription.scss */
#inscription form .parent-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 37, ../sass/_inscription.scss */
#inscription form .parent-group .group3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 42, ../sass/_inscription.scss */
#inscription form .parent-group .group3 input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 50, ../sass/_inscription.scss */
#inscription form .parent-group .group3 label {
  background-color: #62D4DF;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
/* line 56, ../sass/_inscription.scss */
#inscription form .parent-group .group3 input[type='file'] + label {
  cursor: pointer;
  /* "hand" cursor */
}
/* line 59, ../sass/_inscription.scss */
#inscription form .parent-group .group3 p {
  font-size: 12px;
  color: #62D4DF;
}
/* line 64, ../sass/_inscription.scss */
#inscription form .parent-group .group2 {
  width: 40%;
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 71, ../sass/_inscription.scss */
#inscription form .parent-group .group2 input {
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
}
/* line 80, ../sass/_inscription.scss */
#inscription form .parent-group .group2 input:focus {
  outline: none;
  border: none;
}
/* line 85, ../sass/_inscription.scss */
#inscription form .parent-group .group2 label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 97, ../sass/_inscription.scss */
#inscription form .parent-group .group2 input:focus ~ label, #inscription form .parent-group .group2 input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #62D4DF;
}
/* line 102, ../sass/_inscription.scss */
#inscription form .parent-group .group2 .bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 103, ../sass/_inscription.scss */
#inscription form .parent-group .group2 .bar:before, #inscription form .parent-group .group2 .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #62D4DF;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 114, ../sass/_inscription.scss */
#inscription form .parent-group .group2 .bar:before {
  left: 50%;
}
/* line 117, ../sass/_inscription.scss */
#inscription form .parent-group .group2 .bar:after {
  right: 50%;
}
/* line 120, ../sass/_inscription.scss */
#inscription form .parent-group .group2 input:focus ~ .bar:before, #inscription form .parent-group .group2 input:focus ~ .bar:after {
  width: 20%;
}
/* line 124, ../sass/_inscription.scss */
#inscription form .parent-group .group2 input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* line 131, ../sass/_inscription.scss */
#inscription form .group {
  position: relative;
  margin-bottom: 45px;
}
/* line 134, ../sass/_inscription.scss */
#inscription form .group input {
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
}
/* line 143, ../sass/_inscription.scss */
#inscription form .group input:focus {
  outline: none;
  border: none;
}
/* line 148, ../sass/_inscription.scss */
#inscription form .group label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 160, ../sass/_inscription.scss */
#inscription form .group input:focus ~ label, #inscription form .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #62D4DF;
}
/* line 165, ../sass/_inscription.scss */
#inscription form .group .bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 166, ../sass/_inscription.scss */
#inscription form .group .bar:before, #inscription form .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #62D4DF;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 177, ../sass/_inscription.scss */
#inscription form .group .bar:before {
  left: 50%;
}
/* line 180, ../sass/_inscription.scss */
#inscription form .group .bar:after {
  right: 50%;
}
/* line 183, ../sass/_inscription.scss */
#inscription form .group input:focus ~ .bar:before, #inscription form .group input:focus ~ .bar:after {
  width: 50%;
}
/* line 187, ../sass/_inscription.scss */
#inscription form .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* line 193, ../sass/_inscription.scss */
#inscription form button {
  border: none;
  background-color: #62D4DF;
  border-radius: 5px;
}
/* line 197, ../sass/_inscription.scss */
#inscription form button img {
  padding: 5px 10px 0 10px;
}
/* line 203, ../sass/_inscription.scss */
#inscription .small-link {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* line 1, ../sass/_profil.scss */
#profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
/* line 8, ../sass/_profil.scss */
#profil .profil-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* line 13, ../sass/_profil.scss */
#profil .profil-head img {
  width: 100px;
  margin-right: 10px;
}
/* line 17, ../sass/_profil.scss */
#profil .profil-head div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 21, ../sass/_profil.scss */
#profil .profil-head div p:first-child {
  color: #62D4DF;
  font-size: 13px;
}
/* line 25, ../sass/_profil.scss */
#profil .profil-head div p:last-child {
  color: white;
  font-size: 20px;
}
/* line 31, ../sass/_profil.scss */
#profil .profil-infos {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
/* line 35, ../sass/_profil.scss */
#profil .profil-infos p {
  font-size: 20px;
}
/* line 37, ../sass/_profil.scss */
#profil .profil-infos p:first-child {
  color: #62D4DF;
  margin-right: 10px;
}
/* line 41, ../sass/_profil.scss */
#profil .profil-infos p:last-child {
  color: white;
}
/* line 47, ../sass/_profil.scss */
#profil .definition-bloc {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* line 53, ../sass/_profil.scss */
#profil .definition-bloc header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
/* line 60, ../sass/_profil.scss */
#profil .definition-bloc header span {
  color: white;
  opacity: .5;
}
/* line 63, ../sass/_profil.scss */
#profil .definition-bloc header span.active {
  opacity: 1;
  border-bottom: 1px solid #62D4DF;
}
/* line 69, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 75, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
/* line 80, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont .row .definition {
  width: 45%;
  height: 80px;
  position: relative;
}
/* line 84, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont .row .definition img {
  width: 100%;
}
/* line 87, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont .row .definition p {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #62D4DF;
}
/* line 93, ../sass/_profil.scss */
#profil .definition-bloc .definition-cont .row .definition p:last-child {
  top: 10px;
  color: white;
  font-size: 15px;
}
/* line 102, ../sass/_profil.scss */
#profil .definition-bloc button {
  width: 25%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  background-color: #62D4DF;
}
/* line 108, ../sass/_profil.scss */
#profil .definition-bloc button img {
  padding: 0 5px 0 10px;
  transform: rotate(90deg);
}

/* line 1, ../sass/_definition.scss */
#definition {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* line 5, ../sass/_definition.scss */
#definition .couv {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 12, ../sass/_definition.scss */
#definition .word {
  margin-top: 110px;
  margin-bottom: 10px;
}
/* line 15, ../sass/_definition.scss */
#definition .word p:first-child {
  color: #62D4DF;
  font-size: 12px;
}
/* line 19, ../sass/_definition.scss */
#definition .word p:last-child {
  color: white;
}
/* line 23, ../sass/_definition.scss */
#definition article {
  color: white;
  font-size: 15px;
}
/* line 28, ../sass/_definition.scss */
#definition .bloc-sym {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 35, ../sass/_definition.scss */
#definition .bloc-sym .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
/* line 40, ../sass/_definition.scss */
#definition .bloc-sym .row .definition {
  width: 45%;
  height: 80px;
  position: relative;
}
/* line 44, ../sass/_definition.scss */
#definition .bloc-sym .row .definition img {
  width: 100%;
}
/* line 47, ../sass/_definition.scss */
#definition .bloc-sym .row .definition p {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #62D4DF;
}
/* line 53, ../sass/_definition.scss */
#definition .bloc-sym .row .definition p:last-child {
  top: 10px;
  color: white;
  font-size: 15px;
}
/* line 61, ../sass/_definition.scss */
#definition .bloc-sym button {
  width: 25%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  background-color: #62D4DF;
}
/* line 67, ../sass/_definition.scss */
#definition .bloc-sym button img {
  padding: 0 5px 0 10px;
  transform: rotate(90deg);
}

/* line 1, ../sass/_lobby.scss */
#lobby {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* line 5, ../sass/_lobby.scss */
#lobby .def {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}
/* line 12, ../sass/_lobby.scss */
#lobby .def .couv {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 17, ../sass/_lobby.scss */
#lobby .def .word {
  text-decoration: none;
}
/* line 19, ../sass/_lobby.scss */
#lobby .def .word span {
  margin-left: 10px;
}
/* line 21, ../sass/_lobby.scss */
#lobby .def .word span:first-child {
  display: block;
  margin-top: 10px;
  color: #62D4DF;
  font-size: 12px;
}
/* line 27, ../sass/_lobby.scss */
#lobby .def .word span:last-child {
  color: black;
}
/* line 33, ../sass/_lobby.scss */
#lobby .def .choice {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
/* line 40, ../sass/_lobby.scss */
#lobby .def .choice div {
  height: 50px;
  width: 50px;
  background-color: #62D4DF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 48, ../sass/_lobby.scss */
#lobby .def .choice div img {
  width: 70%;
}
